* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(227, 227, 227);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.main-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
.main-grid .cel {
    display: flex;
    flex-direction: column;
}

.cuadrado {
    width: 420px;
    height: 90vh;
    border-radius: 0px 0px 250px 250px;
    background: linear-gradient(1deg, rgb(119, 0, 255), rgb(200, 41, 197) 60%); 
    z-index: 1;
}
.fondodos {
    width: 450px;
    height: 100%;
    border-radius: 200px 200px 0px 0px;
    background: linear-gradient(1deg, violet, transparent);
    margin-top: 180px;
    margin-left: 140px;
}
.cel {
    width: 220px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    position: absolute;
    border-radius: 30px;
    margin-top: 23vh;
    margin-left: 50vh;
    box-shadow: 0px 0px 5px 0px;
}
.back {
    width: 200px;
    height: 428px;
    background-color: rgb(240, 236, 236);
    border-radius: 20px 20px 20px 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.profile {
    width: 200px;
    height: 55px;
    background: linear-gradient(280deg, rgb(192, 57, 192),rgb(123, 0, 255));
    border-radius: 20px 20px 5px 5px;
    z-index: 1;
}
.micro {
    width: 100px;
    height: 15px;
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    margin-left: 50px;
}
.text {
    margin-left: 280px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}
p {
    display: flex;
    flex-direction: column;
}
.volver {
    margin-left: 10px;
    margin-top: 6px;
}
.info-contac {
    display: flex;
}
.foto {
    display: flex;
}
.avatar {
    width: 22px;
    border-radius: 100%;
    border: solid 2px white;
    margin-left: 3px;
    position: absolute;
}
.name {
    font-size: 8px;
    color: white;
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.sub {
    font-size: 8px;
    font-weight: 100;
    color: rgb(206, 206, 206);
}
.tres {
    width: 10px;
    height: 10px;
    display: inline;
    margin-left: 100px;
    margin-top: 40;
    border: solid red 10px;

}
.burbujas {
    width: 189px;
    height: auto;
    z-index: 2;
    position: absolute;
    margin-top: 0px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.uno {
    width: 120px;
    height: auto;
    background-color:rgb(224, 220, 220);
    margin-top: 17px;
    border-radius: 10px;
    padding: 4px;
    color: rgb(238, 10, 238);
    border-radius: 10px 10px 10px 0px;
}
.dos {
    width: 140px;
    height: auto;
    background-color: rgb(224, 221, 221);
    margin-top: 6px;
    border-radius: 10px;
    padding: 4px;
    border-radius: 10px 10px 10px 0px;
}
.galery {
    width: 32px;
    border-radius: 10px;
    display: flex;
    margin-left: 22px;
}
.otro {
    width: 120px;
    height: auto;
    background-color: rgb(224, 221, 221);
    border-radius: 10px;
    padding: 4px;
    border-radius: 10px 10px 0px 10px;
}
.res {
    width: 120px;
    height: 30px;
    background-color:rgb(224, 221, 221);
    border-radius: 10px;
    margin-top: 10px;
    padding: 4px;
    border-radius: 10px 10px 0px 10px;
}

.contra {
    width: 120px;
    height: auto;
    background-color: rgb(224, 221, 221);
    border-radius: 10px;
    margin-top: 10px;
    padding: 4px;
    border-radius: 10px 10px 10px 0px;
}
.price {
    width: 120px;
    height: auto;
    background-color: rgb(162, 6, 162);
    border-radius: 10px;
    padding: 6px;
    border-radius: 10px 10px 10px 0px;
}
.otro {
    margin-left: 50px;
    padding: 4px;
}
.res {
    margin-left: 100px;
    width: 70px;
    height: auto;
    justify-content: center;
    align-items: center;

}
.price {
    background: linear-gradient(45deg,rgb(205, 27, 184),rgb(121, 31, 174));
    font-size: 10px;
    display: flex;
    height: auto;
    color: white;
    align-items: center;
    justify-content: center;
}
.ultimo {
    width: 120px;
    height: auto;
    background: linear-gradient(45deg,rgb(205, 27, 184),rgb(121, 31, 174));
    border-radius: 10px;
    margin-top: 10px;
    font-size: 10px;
    color: white;
    padding: 6px;
    border-radius: 10px 10px 10px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.adentro {
    color: rgb(49, 7, 165);
    font-size: 8px;
    align-items: center;
    display: flex;
    margin-left: -8px;
}
.value {
    font-weight: 800;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.medio {
    font-size: 8px;
    color: rgb(204, 204, 204);
}
.enviar {
    width: 180px;
    height: 20px;
    border-radius: 10px;
    margin-top: -4px;
    background-color: white;
    display: flex;
}
.form {
    color:rgb(192, 189, 189);
    font-size: 8px;
    align-items: center;
    margin-left: -0px;
    margin-top: 4px;
}
.check {
    width: 18px;
    height: 18px;
    margin-left: 86px;

}